.padlock-icon-identity {
	white-space: nowrap;
	display: none;
}

.padlock-instructions {
	padding: 6px 1px;
	color: #666;
	font-size: 13px;
}
	.padlock-instructions span {
		color: black;
		border-bottom: 1px dotted #AAA;
	}

.padlock-browser-chrome35, .padlock-browser-unknown {
	border-top: 1px solid #a3a2a2;
	border-right: 1px solid #c5c4c3;
	border-bottom: 1px solid #c5c4c3;
	border-left: 1px solid #c5c4c3;
	border-radius: 2px;
	background-color: white;
	padding: 3px 4px 2px 4px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	line-height: 130%;
}
	.padlock-browser-chrome35.padlock-cert-ev, .padlock-browser-unknown.padlock-cert-ev {
		padding: 1px;
	}
	.padlock-browser-chrome35.padlock-cert-ev .padlock-icon-container, .padlock-browser-unknown.padlock-cert-ev .padlock-icon-container {
		float: left;
		border: 1px solid #81b781;
		background: url(data:image/gif;base64,R0lGODdhAQAVAIQVAMbpxsfqx8nrycvry83szc/tztHu0dTv09bw1tnx2dvy29303eD04OL14uX35eb35uj46Or46uz57PL78vv++////////////////////////////////////////////ywAAAAAAQAVAAAFEiA1SRH0OA2zKAlyGAUxCAEQAgA7);
		padding: 0 3px 1px 2px;
		height: 23px;
		color: #07984e;
		margin-right: 4px;
		line-height: 21px;
	}
	.padlock-browser-chrome35 .padlock-icon, .padlock-browser-unknown .padlock-icon {
		float: left;
		margin-right: 5px;
		width: 13px;
		height: 19px;
		background-image: url(data:image/gif;base64,R0lGODlhDQATAKUsAFGNO1OPPVWSP4GBgVeVQVmXQ4WFhVuaRV2dR4uLi1+fSWChSZGRkXGjXXKjXpubm6KiooS2cp3bcqPieKzei6vgiNLS0tPT06rpf7DmjbjjndfX19jY2LDvhdra2rbsk9vb29/f37vxmLb0jMD2ndnr0dvs0+rq6s/6suby4Nb7vfDw8P///////////////////////////////////////////////////////////////////////////////yH5BAEKAD8ALAAAAAANABMAAAaIwJ9wSCwajz8QJDFIQDzFDeNyWp0ujA3xcQkNviHLg2gADYYDkIE42JyF7TecIx/Qh5GFfr+PCBUqKIKDKCoKQggkI4uMIyQIQgciHZSVHSIHQgUfGJ2eGB8FQgQZE6anExkEQgIVEq+wEhUCQgEaFLi5FBoBQg4AwMHBDUIpJiXIySUmKUhGQQA7);
	}	
	.padlock-browser-chrome35.padlock-cert-ev .padlock-icon-identity, .padlock-browser-unknown.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
	}
	.padlock-browser-chrome35.padlock-cert-ev .padlock-url, .padlock-browser-unknown.padlock-cert-ev .padlock-url {
		padding-top: 2px;
	}
	.padlock-browser-chrome35 .padlock-url-scheme, .padlock-browser-unknown .padlock-url-scheme {
		color: #079500;
	}
	.padlock-browser-chrome35 .padlock-url-colonslashslash, .padlock-browser-unknown .padlock-url-colonslashslash {
		color: #9d9da9;
	}
	.padlock-browser-chrome35 .padlock-url-domain, .padlock-browser-unknown .padlock-url-domain {
		color: black;
	}
	.padlock-browser-chrome35 .padlock-url-path, .padlock-browser-unknown .padlock-url-path {
		color: #9d9da9;
	}

.padlock-browser-firefox32 {
	border: 1px solid #b2aeaa;
	background-color: white;
	padding: 3px 4px 2px 4px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 130%;
}
	.padlock-browser-firefox32.padlock-cert-ev {
		padding: 0;
	}
	.padlock-browser-firefox32.padlock-cert-ev .padlock-icon-container {
		float: left;
		border-right: 1px solid #d4dbcd;
		padding: 2px 4px 2px 4px;
		height: 23px;
		color: #499a03;
		margin-right: 4px;
		line-height: 21px;
	}
	.padlock-browser-firefox32 .padlock-icon {
		float: left;
		margin-top: 1px;
		margin-right: 5px;
		width: 12px;
		height: 14px;
		background-image: url(data:image/gif;base64,R0lGODdhDAAOAIQWAHV1dXd3d3t7e35+foKCgoaGhoqKio6OjpGRkZSUlJWVlZaWlpeXl52dnZ6enqWlpbKysra2trm5ue/v7/Dw8PT09P///////////////////////////////////////ywAAAAADAAOAAAFR6AljmRJSY4jUeXUMDDTTGSUQFUFJRHJIBVRBbEgHQ5GpOhhaDqbD1FhSq2KCNisVjToer8igXhMFgXO6LRIAWi724mSXBQCADs=);
	}	
	.padlock-browser-firefox32.padlock-cert-ev .padlock-icon {
		margin-top: 3px;
		background-image: url(data:image/gif;base64,R0lGODdhDAAOAIQYAGelKWinKWmpKGqsKGyvKG2yKG+2KHC5J3G8J3O+J3TAJ3e/MXi/Moq5Woq6W3zDNHvFMpDHWpvQZKDSbKDVbOn13er23/H46f///////////////////////////////ywAAAAADAAOAAAFRyAmjmRpURBEWWX1KLDyVOSUSNclJRPJIBfRBbEgHQ5GpChiaDqbEVFhSq2KCNisVjToer8igXhMFgXO6LTIAWi7242SXBQCADs=);
	}	
	.padlock-browser-firefox32.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
		font-size: 12px;
	}
	.padlock-browser-firefox32.padlock-cert-ev .padlock-url {
		padding: 3px 4px 2px 4px;
	}
	.padlock-browser-firefox32 .padlock-url-scheme {
		color: #aaa;
	}
	.padlock-browser-firefox32 .padlock-url-colonslashslash {
		color: #aaa;
	}
	.padlock-browser-firefox32 .padlock-url-domain {
		color: black;
	}
	.padlock-browser-firefox32 .padlock-url-path {
		color: #aaa;
	}

.padlock-browser-firefox8 {
	border: 1px solid #9a9fa6;
	background-color: #fafafa;
	border-radius: 3px;
	font-size: 14px;
	font-family: Arial, sans-serif;
	line-height: 130%;
}
	.padlock-browser-firefox8 .padlock-icon-container {
		float: left;
		background-color: #d8e4f4;
		background-image: url(data:image/gif;base64,R0lGODlhAQAZAIQUAM7d8s/e8tDf89Hf89Lg89Pg89Xg8NTh89Th9NXi9Nbi9Nfj9Njk9Njk9dnl9drl9dvm9dzm9dzn9t3n9v///////////////////////////////////////////////yH5BAEKAB8ALAAAAAABABkAAAUVoDFJEQQ9TsMsi5IkyFEQwyAEARACADs=);
		color: #264c81;
		padding: 3px 5px 2px 5px;
		border-right: 1px solid #b7c7de;
	}	
	.padlock-browser-firefox8 .padlock-icon {
		float: left;
		margin: 1px 4px 0 0;
		width: 22px;
		height: 15px;
		background-image: url(data:image/gif;base64,R0lGODlhFgAPAOMOAC4AAQANHwANIwAMLUYXAF4gAGQmAG8qAABCiQBGlXk0AABIqIxNAFhYWP///////yH5BAEKAA8ALAAAAAAWAA8AAAQx8MlJq704V9V611XhjQn4MGNqGmn7XYDrXrI7UEftBpS+976UABj0LCiEYgdhajoxEQA7);
	}	
	.padlock-browser-firefox8 .padlock-icon-identity {
		float: left;
		display: block;
		font-size: 12px;
	}	
	.padlock-browser-firefox8 .padlock-url {
		float: left;
		padding: 3px 5px 2px 5px;
	}
	.padlock-browser-firefox8 .padlock-url-scheme {
		color: #808080;
	}
	.padlock-browser-firefox8 .padlock-url-colonslashslash {
		color: #808080;
	}
	.padlock-browser-firefox8 .padlock-url-domain {
		color: black;
	}
	.padlock-browser-firefox8 .padlock-url-path {
		color: #808080;
	}
	.padlock-browser-firefox8.padlock-cert-ev .padlock-icon-container {
		background-color: #ddf3c9;
		background-image: url(data:image/gif;base64,R0lGODlhAgAYAIQYAMvrsczrs83stM7sts/tt9DtuNHuutLuu9jsx9PvvdTvvtXwv9fwwdjxwtnxxNryxdvyx9zzyN3zyd70y9/0zOD1zuH1z+L20P///////////////////////////////yH5BAEKAB8ALAAAAAACABgAAAUoIIJcl2VVFUVNkyRFEQQ9j+M0DcMsi6IkicPBYCgUCITBQCAIBACAEAA7);
		color: #2f6600;
	}

.padlock-browser-ie9, .padlock-browser-ie8 {
	border: 1px solid #567087;
	background-color: #d1dee9;
	font-size: 12px;
	padding: 2px;
	font-family: Arial, sans-serif;
	line-height: 130%;
	zoom: 1; /* ie7 quirk */
}
	.padlock-browser-ie9 .padlock-document-icon, .padlock-browser-ie8 .padlock-document-icon {
		zoom: 1; /* ie7 quirk */
		float: left;
		margin: 3px 2px 0 2px;
		width: 22px;
		height: 15px;
		background-image: url(data:image/gif;base64,R0lGODlhFgAPAOMOAC4AAQANHwANIwAMLUYXAF4gAGQmAG8qAABCiQBGlXk0AABIqIxNAFhYWP///////yH5BAEKAA8ALAAAAAAWAA8AAAQx8MlJq704V9V611XhjQn4MGNqGmn7XYDrXrI7UEftBpS+976UABj0LCiEYgdhajoxEQA7);
	}	
	.padlock-browser-ie9 .padlock-icon-container {
		float: right;
	}	
	.padlock-browser-ie9 .padlock-icon {
		float: left;
		margin-top: 2px;
		margin-right: 4px;
		width: 15px;
		height: 16px;
		background-image: url(data:image/gif;base64,R0lGODlhDwAQAIQWAGRqb2VrcGZscWZscmduc2hudGhvdGpxdmpxd2xzeHN6gHyFi3+HjX+IjoSMk5miqpqkrJ2osKCpsqWvuKawuamzvP///////////////////////////////////////yH5BAEKAB8ALAAAAAAPABAAAAU94CeOZElOTkIcjDkuAfVJQON+RjVGyG2UP1dwNBxBCoak0lB4kATL6IAUrVKryys2qd12sSTF1qC4mc+lEAA7);
	}	
	.padlock-browser-ie9 .padlock-icon-identity {
		display: none;
	}	
	.padlock-browser-ie9 .padlock-url {
		float: left;
		padding: 3px 5px 2px 5px;
	}
	.padlock-browser-ie9 .padlock-url-scheme {
		color: black;
	}
	.padlock-browser-ie9 .padlock-url-colonslashslash {
		color: #93999d;
	}
	.padlock-browser-ie9 .padlock-url-domain {
		color: black;
	}
	.padlock-browser-ie9 .padlock-url-path {
		color: #93999d;
	}
	.padlock-browser-ie9.padlock-cert-ev {
		background-color: #8dd58c;
	}
	.padlock-browser-ie9.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
		margin-top: 3px;
		padding-right: 3px;
	}

.padlock-browser-ie8 {
}
	.padlock-browser-ie8 .padlock-icon-container {
		float: right;
	}	
	.padlock-browser-ie8 .padlock-icon {
		float: left;
		margin-top: 1px;
		margin-right: 4px;
		width: 14px;
		height: 17px;
		background-image: url(data:image/gif;base64,R0lGODlhDgARAMZvAGNMGH9jIo1tHotuKJBwIJd2Iph2JJ17JaKBK6KBLaSCKaKCMaOFOaeGMauJNaqKNqyKMq6LNa2MN66MN62NOqyNP6eOS6OOV7COObGQO6qSU6eSXayTULWTObWTPbWUPLWUP7GVSa2VVraVPrWVRq6WVq+WVreWQauXZLGXV7SYTrKYVLKZV7eZSa6ZZLiZTLaaULWaVbuaRLmbTbWbW72bRbycRrydTcCeSbefYsCfSrqfXrqgWsKiSr2lZcWlT8emTsOnW7mnecSsbMGvhtGxWcizgNO2adO3bdi3Ytq5YNW5b9K6fda6dNa8cty8Zdy8aNC+jtm/dd+/atfAfcLBt9rAe8vGs9rHl+LIf97IjebIeOLJgObJetzJmObKfN/Ll+jLfujPiOzRievSju7Wmdrb09vc1N7c0vPcnt7e2N/i4+Dk5eHl5ebq7P///////////////////////////////////////////////////////////////////yH5BAEKAH8ALAAAAAAOABEAAAePgH+Cg4SFhD5gKxeGgygMLjkARIxqBYQHboZmIYQSbIZoQ4QIbYZnWIQqa4VRIikcMB8sXleFZGVMRy8yCwEDRoRZX2laNzYtQTM7hFxhW0gQIzVJIBqEUlBiVh0YCSceJoROT2NNCgYCDg00hFRKU0sRGRM6PRaFQj9dQDgUD0UVGG0gUCIGCR5VGCn8EwgAOw==);
	}	
	.padlock-browser-ie8 .padlock-icon-identity {
		display: none;
	}	
	.padlock-browser-ie8 .padlock-url {
		float: left;
		padding: 3px 5px 2px 5px;
	}
	.padlock-browser-ie8 .padlock-url-scheme {
		color: black;
	}
	.padlock-browser-ie8 .padlock-url-colonslashslash {
		color: #93999d;
	}
	.padlock-browser-ie8 .padlock-url-domain {
		color: black;
	}
	.padlock-browser-ie8 .padlock-url-path {
		color: #93999d;
	}
	.padlock-browser-ie8.padlock-cert-ev {
		background-color: #8ed68d;
	}
	.padlock-browser-ie8.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
		margin-top: 2px;
		padding-right: 3px;
	}

.padlock-browser-opera15 {
	border: 1px solid #b2aeaa;
	background-color: white;
	font-size: 13px;
	font-family: Arial, sans-serif;
	line-height: 130%;
}
	.padlock-browser-opera15 .padlock-icon-container {
		float: left;
		padding: 4px 0 4px 4px;
		border-right: 1px solid #cccccc;
		margin-right: 6px;
		color: #3d993f;
	}
	.padlock-browser-opera15 .padlock-icon {
		float: left;
		margin-right: 5px;
		width: 14px;
		height: 15px;
		background-image: url(data:image/gif;base64,R0lGODlhDgAPAKUmADWFNzaGNzaHNzaHODaIODuJPD6KP0GMQkKNQ0ONRESORUOPRDuTPEaPR0aPSDyVPUChQkGhQkGiQ0GjQ1iaWUKlREKmRGqla2ulbG2mbnGpcnywfH+xgIm4io26jtjn2Nvp297r3+Lt4vH28fn8+fv9+////////////////////////////////////////////////////////////////////////////////////////////////////////yH5BAEKAD8ALAAAAAAOAA8AAAZhQJNwSCwOP5mEQgMymkIGQaEgOIiMG4GnROoIOMZGYCQcBRzGAYFIEBQpjMcCgVg8GBQiYFKRRCISFRMARAEWh4iHAYWJiYtDho2KjJIWj0IAEJIQhEMYAAGhogAXTqYmQQA7);
	}	
	.padlock-browser-opera15.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
		padding-right: 6px;
	}
	.padlock-browser-opera15 .padlock-url {
		float: left;
		padding: 4px;
	}
	.padlock-browser-opera15 .padlock-url-scheme, .padlock-browser-opera15 .padlock-url-colonslashslash {
		display: none;
	}
	.padlock-browser-opera15 .padlock-url-domain {
		color: black;
	}
	.padlock-browser-opera15 .padlock-url-path {
		color: #aaa;
	}

.padlock-browser-safari5 {
	border: 1px solid #98a0ab;
	border-radius: 3px;
	font-size: 15px;
	padding: 1px;
	font-family: Arial, sans-serif;
	line-height: 130%;
}
	.padlock-browser-safari5 .padlock-document-icon {
		float: left;
		margin: 5px 2px 0 2px;
		width: 22px;
		height: 15px;
		background-image: url(data:image/gif;base64,R0lGODlhFgAPAOMOAC4AAQANHwANIwAMLUYXAF4gAGQmAG8qAABCiQBGlXk0AABIqIxNAFhYWP///////yH5BAEKAA8ALAAAAAAWAA8AAAQx8MlJq704V9V611XhjQn4MGNqGmn7XYDrXrI7UEftBpS+976UABj0LCiEYgdhajoxEQA7);
	}	
	.padlock-browser-safari5 .padlock-icon-container {
		float: right;
	}	
	.padlock-browser-safari5 .padlock-icon {
		float: right;
		margin-top: 5px;
		margin-right: 3px;
		width: 11px;
		height: 12px;
		background-image: url(data:image/gif;base64,R0lGODlhCwAMAIQcAFNTU1dXV1tbW11dXV9fX2BgYGdnZ2pqamtra21tbXBwcHJycoGBgYaGhoeHh4qKioyMjI2NjZCQkJKSkqWlpaioqKysrLCwsLS0tLa2tre3t+np6f///////////////yH5BAEKAB8ALAAAAAALAAwAAAU7ICeOZKkFWSle1EZVajEK6jDapKUUAKFYJMLDwXA8CKSDZMKUHEgGCCQiNZAKjaGjIRthEoswAqMqhwAAOw==);
	}	
	.padlock-browser-safari5 .padlock-icon-identity {
		display: none;
	}	
	.padlock-browser-safari5 .padlock-url {
		float: left;
		padding: 3px 5px 2px 5px;
	}
	.padlock-browser-safari5.padlock-cert-ev .padlock-icon-identity {
		display: block;
		float: left;
		margin-top: 2px;
		padding-right: 3px;
		color: #006318;
		font-size: 85%;
		font-weight: bold;
	}