@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTC55F-webfont.eot');
    src: url('../fonts/PTC55F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTC55F-webfont.woff') format('woff'),
         url('../fonts/PTC55F-webfont.ttf') format('truetype'),
         url('../fonts/PTC55F-webfont.svg#pt_sans_captionregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTC75F-webfont.eot');
    src: url('../fonts/PTC75F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTC75F-webfont.woff') format('woff'),
         url('../fonts/PTC75F-webfont.ttf') format('truetype'),
         url('../fonts/PTC75F-webfont.svg#pt_sans_captionbold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../fonts/PTN57F-webfont.eot');
    src: url('../fonts/PTN57F-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/PTN57F-webfont.woff') format('woff'),
         url('../fonts/PTN57F-webfont.ttf') format('truetype'),
         url('../fonts/PTN57F-webfont.svg#pt_sans_narrowregular') format('svg');
    font-weight: lighter;
    font-style: normal;

}

body {
	font-family: sans-serif;
}

.jumbotron {
	background-color: #123763;
	color: white;
}

h1, h2 {
	font-family: 'PT Sans Caption', sans-serif;
}

h1 .of-the {
	font-size: 70%;
	font-weight: lighter;
	color: #EEF;
}

h2 {
	font-size: 25px;
	margin-bottom: .75em;
}
	h2.second {
		margin-top: 1.5em;
	}

p {
	line-height: 165%;
}

p a {
	color: #0d84a8;
	text-decoration: underline; /* accessibility req */
}

dl dt {
    font-family: 'PT Sans Caption', sans-serif;
}
dl dd {
	margin: .5em 0 1.2em 0;
}
    dl dd p {
        line-height: 135%;
    }